/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 1 sty 2026, 17:54:08
    Author     : tarcz
*/

article.prose{
    line-height:1.75;
    display:contents
}

article.prose a{
    font-weight:500;
    text-decoration:underline
}

article.prose h1{
    margin-block:0 1.23em;
    font-size:2.25em;
    line-height:1.11
}

article.prose h2{
    margin-block:2em 1em;
    font-size:1.5em;
    line-height:1.34
}

article.prose h3{
    margin-block:1.6em .6em;
    font-size:1.25em;
    line-height:1.6
}

article.prose h4{
    margin-top:1.5em;
    margin-bottom:.5em;
    line-height:1.5
}

article.prose img{
    width:100%;
    margin-block:2em
}

article.prose blockquote{
    margin-block:1.6em;
    padding:.75em 1.25em
}

article.prose ul,article.prose ol{
    padding-inline-start:1.5em
}

article.prose table{
    table-layout:auto;
    width:100%;
    margin:1.5em 0
}

article.prose thead th{
    vertical-align:bottom;
    font-weight:600
}

article.prose tbody td{
    vertical-align:baseline
}

article.prose tfoot td{
    vertical-align:top
}

article.prose th,article.prose td{
    text-align:start;padding:.75em
}

article.prose thead th:first-child,article.prose tbody td:first-child,article.prose tfoot td:first-child{
    padding-inline-start:0
}

article.prose thead th:last-child,article.prose tbody td:last-child,article.prose tfoot td:last-child{
    padding-inline-end:0
}

article.prose thead{
    box-shadow:0 1px #ffffffbf,0 1px
}

article.prose tbody tr{
    box-shadow:0 1px #ffffffd9,0 1px
}

article.prose hr{
    opacity:.3;
    margin:3em 0
}

*,:before,:after{
    box-sizing:border-box
}

body{
    -webkit-font-smoothing:antialiased
}

textarea:focus-visible{
    outline:none
}

button{
    -webkit-font-smoothing:inherit;
    -moz-osx-font-smoothing:inherit;
    -webkit-appearance:none
}

*{
    margin:0;
    padding:0
}

a{
    color:inherit;
    -webkit-text-decoration:inherit;
    text-decoration:inherit
}

input{
    font:inherit;
    background-color:inherit;
    border:none;
    outline:none
}

button{
    font:inherit;
    color:inherit;
    background:0 0;
    border-style:none;
    width:auto;
    line-height:normal;
    overflow:visible
}

textarea,select{
    font:inherit;
    background-color:inherit
}

img,picture,video,canvas,svg{
    display:block
}

[data-reaction-click]{
    cursor:pointer
}

[data-visible=false]{
    display:none!important
}

.before-hidden:before,.after-hidden:after{
    display:none
}

.before-visible:before,.after-visible:after{
    content:""
}

::placeholder{
    color:inherit;opacity:.54
}

body *{
    scrollbar-width:none
}

body ::-webkit-scrollbar{
    display:none
}

[name=honey-pot-field]{
    display:none!important
}

.text{
    white-space:pre-wrap;
    overflow-wrap:break-word
}

.pointer-events-none{
    pointer-events:none
}