/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 1 sty 2026, 18:20:54
    Author     : tarcz
*/

#_{
    background-color:#fff;
    min-height:100vh;
    display:grid
}

#Desktop{
    background-color:#fff;
    border-radius:0;
    width:1280px;
    min-width:1280px;
    max-width:1280px;
    min-height:1080px;
    max-height:1080px;
    margin:0 auto;
    position:relative;
    overflow:hidden auto
}

#Background{
    --f2w-order:0;
    aspect-ratio:1.46;
    border-radius:0;
    width:100%;
    height:auto;
    position:absolute;
    top:calc(50% - 437px);
    left:0;
    right:0;
    overflow:hidden
}

#__0{
    object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#Group_2{
    --f2w-order:1;
    width:1280px;
    height:1134px;
    position:absolute;
    top:-54px;
    left:0
}

#Rectangle_3{
    --f2w-order:0;
    width:780px;
    height:calc(100% - 260px);
    position:absolute;
    top:154px;
    bottom:106px;
    left:calc(50% - 390px)
}

#Rectangle_1{
    --f2w-order:1;
    background-color:#c32929;
    border-radius:0;
    width:100%;
    height:103px;
    position:absolute;
    top:54px;left:0;
    right:0
}

#Rectangle_2{
    --f2w-order:2;
    background-color:#c32929;
    border-radius:0;
    width:100%;
    height:113px;
    position:absolute;
    bottom:0;
    left:0;
    right:0
}

#Logo_1{
    --f2w-order:3;
    aspect-ratio:2;
    border-radius:0;
    width:auto;
    height:211px;
    position:absolute;
    top:0;
    left:calc(50% - 211px);
    overflow:hidden
}

#__1{
    width:100%;
    height:100%;
    position:absolute;
    inset:0;
    transform:translateY(.7px)scale(1.01)
}

#Rectangle_5{
    --f2w-order:4;
    filter:drop-shadow(0 4px 4px #00000040);
    background-color:#9f2d2d;
    border:1px solid #000;
    border-radius:0;
    width:87px;
    height:22px;
    position:absolute;
    top:58px;
    right:104px
}

#Rectangle_6{
    --f2w-order:5;
    filter:drop-shadow(0 4px 4px #00000040);
    background-color:#9f2d2d;
    border:1px solid #000;
    border-radius:0;
    width:87px;
    height:22px;
    position:absolute;
    top:58px;
    right:9px
}

#_601_19{
    text-align:center;
    color:#fff;
    --f2w-order:6;
    -webkit-background-clip:text;
    background-clip:text;
    justify-content:center;
    align-items:center;
    width:86px;
    height:30px;
    font-family:Inter;
    font-size:12px;
    font-weight:400;
    display:inline-flex;
    position:absolute;
    top:54px;
    right:9px
}

#__2{
    color:#fff;
    -webkit-background-clip:text;
    background-clip:text;
    font-family:Inter;
    font-size:12px;
    font-weight:400
}

#_601_20{
    text-align:center;
    color:#fff;
    --f2w-order:7;
    -webkit-background-clip:text;
    background-clip:text;
    justify-content:center;
    align-items:center;
    width:94px;
    height:22px;
    font-family:Inter;
    font-size:12px;
    font-weight:400;
    display:inline-flex;
    position:absolute;
    top:58px;
    left:1084px
}

#__3{
    color:#fff;
    -webkit-background-clip:text;
    background-clip:text;
    font-family:Inter;
    font-size:12px;
    font-weight:400
}

#Group_3{
    --f2w-order:2;
    width:780px;
    height:62px;
    position:absolute;
    top:103px;
    left:250px
}

#Rectangle_4{
    --f2w-order:0;
    background-color:#c32929;
    border-radius:0;
    width:780px;
    height:62px;
    position:absolute;
    top:0;
    left:calc(50% - 390px)
}

#_601_23{
    text-align:center;
    color:#fff;
    --f2w-order:1;
    -webkit-background-clip:text;
    background-clip:text;
    width:34px;
    font-family:Inter;
    font-size:12px;
    font-weight:400;
    text-decoration:underline;
    display:inline;position:absolute;
    top:24px;
    left:34px
}

#__5{
    color:#fff;
    -webkit-background-clip:text;
    background-clip:text;
    font-family:Inter;
    font-size:12px;
    font-weight:400;
    text-decoration:underline
}

#_601_24{
    text-align:center;
    color:#fff;
    --f2w-order:2;
    -webkit-background-clip:text;
    background-clip:text;
    width:73px;
    font-family:Inter;
    font-size:12px;
    font-weight:400;
    text-decoration:underline;
    display:inline;
    position:absolute;
    top:24px;
    left:361px
}

#__7{
    color:#fff;
    -webkit-background-clip:text;
    background-clip:text;
    font-family:Inter;
    font-size:12px;
    font-weight:400;
    text-decoration:underline
}

#_601_25{
    text-align:center;
    color:#fff;
    --f2w-order:3;
    -webkit-background-clip:text;
    background-clip:text;
    width:32px;
    font-family:Inter;
    font-size:12px;
    font-weight:400;
    display:inline;
    position:absolute;
    top:24px;
    left:119px
}

#__9{
    color:#fff;
    -webkit-background-clip:text;
    background-clip:text;
    font-family:Inter;
    font-size:12px;
    font-weight:400
}

#_601_26{
    text-align:center;
    color:#fff;
    --f2w-order:4;
    -webkit-background-clip:text;
    background-clip:text;
    width:36px;
    font-family:Inter;
    font-size:12px;
    font-weight:400;
    display:inline;
    position:absolute;
    top:24px;
    left:494px
}

#__10{
    color:#fff;
    -webkit-background-clip:text;
    background-clip:text;
    font-family:Inter;
    font-size:12px;
    font-weight:400
}

#_601_27{
    text-align:center;
    color:#fff;
    --f2w-order:5;
    -webkit-background-clip:text;
    background-clip:text;
    width:43px;
    font-family:Inter;
    font-size:12px;
    font-weight:400;
    display:inline;
    position:absolute;
    top:24px;
    left:579px
}

#__11{
    color:#fff;
    -webkit-background-clip:text;
    background-clip:text;
    font-family:Inter;
    font-size:12px;font-weight:400
}

#_601_28{
    text-align:center;
    color:#fff;
    --f2w-order:6;
    -webkit-background-clip:text;
    background-clip:text;
    width:99px;
    font-family:Inter;
    font-size:12px;
    font-weight:400;
    text-decoration:underline;
    display:inline;
    position:absolute;
    top:24px;
    left:212px}#__13{
color:#fff;
    -webkit-background-clip:text;
    background-clip:text;
    font-family:Inter;
    font-size:12px;
    font-weight:400;
    text-decoration:underline}#_601_29{
text-align:center;
    color:#fff;
    --f2w-order:7;
    -webkit-background-clip:text;
    background-clip:text;
    width:99px;
    font-family:Inter;
    font-size:12px;
    font-weight:400;
    text-decoration:underline;
    display:inline;
    position:absolute;
    top:24px;
    left:656px
}

#__15{
    color:#fff;
    -webkit-background-clip:text;
    background-clip:text;
    font-family:Inter;
    font-size:12px;
    font-weight:400;
    text-decoration:underline
}

#_601_30{
text-align:center;
    color:#000;
    --f2w-order:3;
    -webkit-background-clip:text;
    background-clip:text;
    justify-content:center;
    align-items:center;
    width:651.1px;
    height:49.4px;
    font-family:Inter;
    font-size:32px;
    font-weight:400;
    display:inline-flex;
    position:absolute;
    top:194px;
    left:calc(50% - 326px)
}

#__16{
color:#000;
    -webkit-background-clip:text;
    background-clip:text;
    font-family:Inter;
    font-size:32px;
    font-weight:400
}

#_601_31{
text-align:center;
    color:#000;
    --f2w-order:4;
    -webkit-background-clip:text;
    background-clip:text;
    width:282px;
    font-family:Inter;
    font-size:24px;
    font-weight:400;
    display:inline;
    position:absolute;
    top:300px;
    left:310px
}

#__17{
color:#000;
    -webkit-background-clip:text;
    background-clip:text;
    font-family:Inter;
    font-size:24px;
    font-weight:400
}

#_601_32{
text-align:center;
    color:#000;
    --f2w-order:5;
    -webkit-background-clip:text;
    background-clip:text;
    width:282px;
    font-family:Inter;
    font-size:24px;
    font-weight:400;
    display:inline;
    position:absolute;
    top:300px;
    left:709px
}

#__18{
color:#000;
    -webkit-background-clip:text;
    background-clip:text;
    font-family:Inter;
    font-size:24px;
    font-weight:400
}

#Group_1{
--f2w-order:6;
    width:724px;
    height:270px;
    position:absolute;
    top:354px;
    left:278px
}

#Rectangle_7{
--f2w-order:0;
    border-radius:0;
    width:143px;
    height:109px;
    position:absolute;
    top:5px;
    left:0;
    overflow:hidden
}

#__19{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#Rectangle_8{
--f2w-order:1;
    border-radius:0;
    width:143px;
    height:109px;
    position:absolute;
    top:157px;
    left:0;
    overflow:hidden
}

#__20{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#Rectangle_9{
--f2w-order:2;
    border-radius:0;
    width:143px;
    height:109px;
    position:absolute;
    top:5px;
    left:381px;
    overflow:hidden
}

#__21{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#Rectangle_10{
--f2w-order:3;
    border-radius:0;
    width:143px;
    height:109px;
    position:absolute;
    top:157px;
    left:381px;
    overflow:hidden
}

#__22{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#Rectangle_13{
--f2w-order:4;
    border:1px solid #000;
    border-radius:0;
    width:186px;
    height:117px;
    position:absolute;
    top:0;
    left:538px
}

#Rectangle_14{
--f2w-order:5;
    border:1px solid #000;
    border-radius:0;
    width:186px;
    height:117px;
    position:absolute;
    top:153px;
    left:538px
}

#Rectangle_15{
--f2w-order:6;
    border:1px solid #000;
    border-radius:0;
    width:186px;
    height:117px;
    position:absolute;
    top:0;
    left:164px
}

#Rectangle_16{
--f2w-order:7;
    border:1px solid #000;
    border-radius:0;
    width:186px;
    height:117px;
    position:absolute;
    top:153px;
    left:164px
}

#_601_42{
text-align:center;
    color:#fff;
    --f2w-order:7;
    -webkit-background-clip:text;
    background-clip:text;
    justify-content:center;
    align-items:center;
    width:854px;
    height:47px;
    font-family:Inter;
    font-size:11px;
    font-weight:400;
    display:inline-flex;
    position:absolute;
    bottom:18px;
    left:226px
}

#__23{
color:#fff;
    -webkit-background-clip:text;
    background-clip:text;
    font-family:Inter;
    font-size:11px;
    font-weight:400
}

#_601_43{
text-align:center;
    color:#000;
    --f2w-order:8;
    -webkit-background-clip:text;
    background-clip:text;
    justify-content:center;
    align-items:center;
    width:419px;
    height:48px;
    font-family:Inter;
    font-size:24px;
    font-weight:400;
    display:inline-flex;
    position:absolute;
    top:633px;
    left:476px
}

#__24{
color:#000;
    -webkit-background-clip:text;
    background-clip:text;
    font-family:Inter;
    font-size:24px;
    font-weight:400
}

#Rectangle_15_0{
--f2w-order:9;
    background-color:#d9d9d9;
    border:1px solid #000;
    border-radius:0;
    width:686px;
    height:251px;
    position:absolute;
    top:679px;
    left:321px
}

#_2911230_1{
--f2w-order:10;
    aspect-ratio:1;
    border-radius:0;
    width:auto;
    height:94px;
    position:absolute;
    top:359px;
    left:488px;
    overflow:hidden
}

#__25{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#_2911230_2{
--f2w-order:11;
    aspect-ratio:1;
    border-radius:0;
    width:auto;
    height:94px;
    position:absolute;
    top:511px;
    left:488px;
    overflow:hidden
}

#__26{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#_2911230_3{
--f2w-order:12;
    aspect-ratio:1;
    border-radius:0;
    width:auto;
    height:94px;
    position:absolute;
    top:354px;
    left:865px;
    overflow:hidden
}

#__27{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#_2911230_4{
--f2w-order:13;
    aspect-ratio:1;
    border-radius:0;
    width:auto;
    height:94px;
    position:absolute;
    top:511px;
    left:862px;
    overflow:hidden
}

#__28{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#england{
--f2w-order:14;
    aspect-ratio:1;
    border-radius:0;
    width:auto;
    height:90px;
    position:absolute;
    top:695px;
    left:355px;
    overflow:hidden
}

#__29{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#hungary{
--f2w-order:15;
    aspect-ratio:1;
    border-radius:0;
    width:auto;
    height:90px;
    position:absolute;
    top:695px;
    left:485px;
    overflow:hidden
}

#__30{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#kalmar_union{
--f2w-order:16;
    aspect-ratio:1;
    border-radius:0;
    width:auto;
    height:90px;
    position:absolute;
    top:695px;
    left:615px;
    overflow:hidden
}

#__31{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#masovia{
--f2w-order:17;
    aspect-ratio:1;
    border-radius:0;
    width:auto;
    height:90px;
    position:absolute;
    top:695px;
    left:745px;
    overflow:hidden
}

#__32{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#milan{
--f2w-order:18;
    aspect-ratio:1;
    border-radius:0;
    width:auto;
    height:90px;
    position:absolute;
    top:825px;
    left:355px;
    overflow:hidden
}

#__33{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#poland{
--f2w-order:19;
    aspect-ratio:1;
    border-radius:0;
    width:auto;
    height:90px;
    position:absolute;
    top:825px;
    left:485px;
    overflow:hidden
}

#__34{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#scotland{
--f2w-order:20;
    aspect-ratio:1;
    border-radius:0;
    width:auto;
    height:90px;
    position:absolute;
    top:825px;
    left:615px;
    overflow:hidden
}

#__35{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#sicily{
--f2w-order:21;
    aspect-ratio:1;
    border-radius:0;
    width:auto;
    height:90px;
    position:absolute;
    top:825px;
    left:745px;
    overflow:hidden
}

#__36{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#spain{
--f2w-order:22;
    aspect-ratio:1;
    border-radius:0;
    width:auto;
    height:90px;
    position:absolute;
    top:825px;
    left:875px;
    overflow:hidden
}

#__37{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#venice{
--f2w-order:23;
    aspect-ratio:1;
    border-radius:0;
    width:auto;
    height:90px;
    position:absolute;
    top:695px;
    left:875px;
    overflow:hidden
}

#__38{
object-fit:cover;
    width:100%;
    height:100%;
    position:absolute;
    inset:0
}

#Frame_1{
--f2w-order:24;
    border-radius:0;
    width:100px;
    height:100px;
    position:absolute;
    top:-13px;
    left:-41px;
    overflow:hidden
}

