/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 15 gru 2025, 20:21:19
    Author     : tarcz
*/

html {
    padding: 0;
    margin: 0;
    font-family: "Inter", "Arial", serif;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: red;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
    position: relative;
}

#account_options {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 3;
}

#logo {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    position: relative;
    align-items: center;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    background-color: #D9D9D9;
    border-style: none solid;
    border-color: black;
}

footer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
}

.account_management_button {
    border-color: black;
    background-color: #9F2D2D;
    flex-grow: 1;
    flex-shrink: 1;
    color: white;
    text-align: center;
    border-style: solid;
    padding: 1px;
    margin: 2px;
    box-sizing: border-box;
    display: inline-block;
    max-width: 87px;
}

#main_navbar {
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.current_subpage {
    text-decoration: none;
}

.subpage_button {
    color: white;
    padding: 10px 0px;
    text-align: center;
}