/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 16 gru 2025, 11:24:44
    Author     : tarcz
*/

h1 {
    position: relative;
    z-index: 2;
    text-align: center;
}

#mod_upload {
    position: absolute;
    top: 40px;
    left: 90%;
    text-align: right;
    z-index: 3;
    border-color: black;
    background-color: #9F2D2D;
    color: white;
    text-align: center;
    border-style: solid;
    margin: 2px;
    box-sizing: border-box;
    display: inline-block;
    max-width: 200px;
    padding: 5px;
    text-decoration: none;
}

#mod_search {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: right;
    align-items: start;
    text-align: center;
}

#filters {
    border-style: solid;
}

#mods_display {
    flex-grow: 4;
    border-style: solid;
}